$transition: all 200ms ease-in;

.collapsable-enter {
  opacity: 0;
}

.collapsable-enter-active {
  opacity: 1;
  transition: $transition;
}

.collapsable-exit {
  opacity: 1;
  max-height: rem(300);
}

.collapsable-exit-active {
  opacity: 0;
  max-height: 0;
  transition: $transition;
}
