div[class*='DateRangePicker_picker'] {
  z-index: 4 !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

div[class*='DateRangePickerInput'],
div[class*='DateInput'],
input[class*='DateInput_input'],
div[class*='DateRangePickerInput'] {
  @extend %font-type-button-override;
  background-color: transparent !important;
  color: white !important;
  fill: white !important;
  stroke: white !important;
  cursor: pointer !important;

  &::placeholder {
    @extend %font-type-button;
    color: white !important;
    opacity: 0.8;
  }

  &:hover {
    &::placeholder {
      opacity: 1;
    }
  }
}

div[class*='DayPicker_transitionContainer'] {
  border: 1px solid #aaa;
}

div[class*='DayPickerNavigation_button'] {
  &:focus {
    background-color: #000 !important;
  }
}
