.label {
  @extend %font-type-label;
  margin-left: rem(20);
  margin-bottom: rem(10);

  &__header {
    @extend %font-type-header;
    margin-left: rem(20);
    margin-bottom: rem(10);

    &.--small-margin {
      margin: 0;
      margin-left: rem(10);
    }
  }

  &__subheader {
    @extend %font-type-subheader;
    margin-left: rem(20);
    margin-bottom: rem(10);
  }
}
