.leaflet-container {
  height: 100%;
  min-height: rem(560);

  @include phone {
    min-height: inherit;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  @extend %font-type-label;
}

.leaflet-popup-tip {
  background-color: rgba(0, 0, 0, 0.8);
}

.leaflet-container a {
  color: white;
}

.leaflet-control-attribution {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
  font-size: rem(7) !important;

  @include phone {
    width: 100vw !important;
    text-align: center;
  }
}
