.simplebar-content {
  height: 100%;
}

.simplebar-scrollbar::before {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.menu {
  position: absolute !important;
  top: rem(60);
  background-color: rgba(0, 0, 0, 0.6);
  height: calc(100vh - 75px);
  max-width: rem(300);
  padding: rem(20);
  transform: translateX(rem(-300));
  transition: all 0.2s ease-out;
  width: 100%;
  z-index: 2;
  overflow-y: auto;

  @include phone {
    max-width: inherit;
    max-height: inherit;
    min-height: calc(100vh - 74px);
    height: inherit;
    width: 100%;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 1);
  }

  &.--open {
    transform: translateX(0);
  }

  &__status {
    color: white;
    transition: transform 200ms ease;

    &.--inactive {
      color: red;
    }

    &.--active {
      color: green;
    }

    &.--down {
      transform: rotate(180deg);
    }
  }

  &__color-picker {
    flex: 1;
    justify-content: flex-end;

    &.--picker {
      cursor: pointer;
    }
  }

  &__weight-picker {
    justify-content: flex-end;

    & + & {
      width: rem(70);
    }

    &.--picker {
      cursor: pointer;
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  &__block {
    & + & {
      padding-top: rem(20);
    }
  }

  &__footer {
    padding-top: rem(50);
    padding-bottom: rem(10);
  }
}
