.simplebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.simplebar-scrollbar::before {
  background-color: red !important;
}

.menu {
  padding: rem(20);
  transform: translateX(rem(-300));
  transition: all 0.2s ease-out;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  @include phone {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: 100%;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 1);
  }

  &__container {
    height: calc(100vh - 74px);
    max-width: rem(300);
    position: absolute;
    top: rem(59);
    width: 100%;
    z-index: 2;
  }

  &__inner {
    background-color: transparent;
    height: 100vh;
    min-height: rem(450);

    @include phone {
      min-height: rem(450);
    }
  }

  &.--open {
    transform: translateX(0);
  }

  &__status {
    color: white;

    &.--inactive {
      color: red;
    }

    &.--active {
      color: green;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  &__block {
    & + & {
      padding-top: rem(20);
    }
  }

  &__footer {
    padding-bottom: rem(10);
  }
}
