.notfound {
  padding: rem(20);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.1;
    z-index: -1;
  }
}
