$colors: (
  text: #ffffff,
  main: #ff4b00,
  alternate: #ab7d59,
  secondary: #a1a29e,
  grey: rgba(0, 0, 0, 0.4),
  dark: rgba(0, 0, 0, 0.6),
  darker: rgba(0, 0, 0, 0.8),
  darkest: rgba(0, 0, 0, 0.9),
  palest: #ffffff,
  datePicker: (
    one: #999,
    two: #777,
    three: #555,
    four: #333,
    five: #111,
  ),
);
